#navbar {
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    margin-right: 10%;
}

#navlinks > .link {
    color: var(--text);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.2s;
}

#dropdown {
    position: absolute;
    right: 3%;
    top: 30%;
    display: inline-block;
    width: 8vw;
    height: auto;
    z-index: 100;
}

.options {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 7vw;
    text-align: center;

    border: 1px solid var(--text);
}

.options:hover {
    background-color: var(--primary);
}

.options:last-child {
    background-color: var(--secondary-light);
}

.options:last-child:hover {
    background-color: var(--secondary);
}

.options:not(.show) {
    display: none;
}

.options:first-child {
    border: 2px solid var(--text);
    display: block;
}

#navlinks > .link:hover:not(#workorder) {
    color: var(--primary);
}

#workorder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 6vh;
    border-radius: 0.5vw;
    background-color: var(--primary);
    /* color: var(--) !important; */
}

#workorder:hover {
    /* blur dropshadow */
    filter: drop-shadow(0 0 0.75rem var(--primary));
}

#logo {
    cursor: pointer;
}

#logo > #acorn {
    height: 6.5vh;
    aspect-ratio: 1/1;
    margin: 1vw 0 1vw 1vw;
}

#logo-text {
    position: absolute;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--text);
    top: 10%;
    left: 5.3%;
}

/* spin logo based on bezier curve  on hover*/
#logo > #acorn:hover {
    animation: spin 0.75s cubic-bezier(0.23, 0.77, 0.54, 0.97);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* animate this gradient sliding across the text */
/* 
 background: linear-gradient(
        120deg,
        var(--text),
        var(--primary),
        var(--accent)
    );
     */

#logo-text:hover {
    background: linear-gradient(
        120deg,
        var(--primary),
        var(--accent),
        var(--text)
    );
    background-size: 200% 200%;
    animation: gradient 1.5s ease-in-out infinite;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}
